<body class="register">
  <div class="page-heading">
    <h2>Register</h2>
  </div>

  <form class="register-form" [formGroup]="registerForm">
  <fieldset>
    <input type="text" placeholder="Enter your name" required formControlName="name"/>
    <input type="number" placeholder="Enter your age" required formControlName="age"/>
    <select required formControlName="job_id">
      <option value="1">Select an occupation</option>
    </select>
  </fieldset>
  <button type="submit">Register</button>
</form>


</body>


  <!--<form #arrivalForm="ngForm">
    <input [(ngModel)]="colonist.name" name="name" type="text" placeholder="Name"/>
    <input [(ngModel)]="colonist.age" type="number" id="age" name="age" placeholder="Age" min="1" max="200"/> 
    <select [(ngModel)]="colonist.job_id" name="job">
      <option value="NO_OCCUPATION_SELECTED">Select an Occupation</option>      
      <option *ngFor="let job of jobs" [value]="job.id">{{ job.name }}</option>
    </select>
   <button type="submit" (click)="postColonist()">Check In</button>    
  </form>-->
